<div class="container">
  <div class="form">
    <div class="title">
      <h1> Shift </h1>
    </div>
    <form [formGroup]="shiftForm" (ngSubmit)="onSave()">
      <mat-form-field appearance="outline" >
        <mat-label>Shift Name</mat-label>
        <input matInput placeholder="Shift Name" formControlName="shiftName" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input matInput [ngxMatTimepicker]="picker1" formControlName="startTime" autocomplete="off"  (invalid)="{start: '00:00', end: '23:59' }">
        <ngx-mat-timepicker #picker1></ngx-mat-timepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Time</mat-label>
        <input matInput [ngxMatTimepicker]="picker2" formControlName="endTime" autocomplete="off" >
        <ngx-mat-timepicker #picker2></ngx-mat-timepicker>
      </mat-form-field>
      <div class="button">
        <button mat-raised-button class="btn-save" color="primary" type="submit">Save</button>
        <button mat-raised-button class="btn-cancel" mat-dialog-close >Cancel</button>
      </div>
    </form>
  </div>
</div>