.container{
    display: grid;
    grid-template-columns:1fr;
    margin:10px;
    box-sizing: border-box;
}
.top-menu{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}
.table-customer mat-header-cell{
    font-size: 16px;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
} 
.search-div{
    height: fit-content;
}
.search-form-field{
    padding-left: 10px;
    width: 25%;
    margin-bottom: 0;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
 mat-cell{
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    padding-right: 0;
}
mat-header-cell{
    background-color: #3F4E9D;
    justify-content: left;
}
ng-container{
    display: grid;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
}
.DeleteAll-button{
    margin-left: 15px;
    margin-top: 13px;
}
mat-header-cell:last-of-type{
    padding-right: 0;
}
mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);

}
