<div class="container">
   <mat-toolbar class="top-menu">
    <span>Customer List</span>
  </mat-toolbar>
  <div class="search-div">
      <button mat-raised-button class="create-button"  (click)="onClickAdd()">
          <mat-icon>add</mat-icon>Add Customer
      </button>
      <mat-form-field class="search-form-field" floatLable="never">
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
  </div>
  <div class=" table-customer mat-elevation-z8" role="table">
    <mat-table  [dataSource]="customerData "  matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
        <mat-cell *matCellDef="let element ">
          <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;"> {{ i+1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customername">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customername}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="productno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Product No</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productno}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="revisionno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Revision No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.revisionno}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button  class="edit-button" mat-icon-button  (click)="onClickEdit(element)">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button class="delete-button" mat-icon-button  (click)="onClickDelete(element._id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="footer">
      <div class="deleteallFun">
        <button mat-raised-button class="DeleteAll-button" (click)="removeSelected()">
          <mat-icon>delete</mat-icon>Deleteall
        </button>
      </div>
      <div class="paginator">
        <mat-paginator [pageSizeOptions]="[1,3,5,10,15,25,100]" pageSize="10" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>






















