<div class="main-container">
  <span class="dash-title">PROCESS</span>
  <mat-card class="mat-elevation-z1">
    <div class="menu-container" gdColumns="250px repeat(2, 2fr) ">
      <div class="shift" style="color: blueviolet;">Shift : Shift 1</div>
      <div class="name" style="color: blueviolet;">Supervisor : Sureshkumar</div>
      <div class="filter-choice">
        Fliter
        <mat-select style="width: fit-content;">
          <mat-option>Machine</mat-option>
          <mat-option>Document</mat-option>
          <mat-option>Customer</mat-option>
        </mat-select>
        <input matInput (keyup)="applyFilter($event)" placeholder=""> 
      </div> 
    </div> 
  </mat-card>
  <!-- <div class="title">Process</div> -->
  <mat-card class="table-card mat-elevation-z1" >
      <div class="table" >
          <span class="header first">Lot ID</span>
          <span class="header">Process</span>
          <span class="header">Customer</span>
          <span class="header">Product</span>
          <span class="header">Machine</span>
          <span class="header">Drawing No</span>
          <span class="header">Status</span>
          <span class="header last">Action</span>
        <ng-container *ngFor="let process of data">
          <span class="data-cell first">{{process.lotID}}</span>
          <span class="data-cell">{{process.processName}}</span>
          <span class="data-cell">{{process.customerName}}</span>
          <span class="data-cell">{{process.productName}}</span>
          <span class="data-cell">{{process.machineName}}</span>
          <span class="data-cell">{{process.drawingNo}}</span>
          <span class="data-cell" >{{process.status}}</span>
          <span class="data-cell last">
            <div class="button">
              <button class="btn" mat-raised-button color="primary">Upload</button>
              <button class="btn" mat-raised-button color="warn">Preview</button>
            </div>
          </span>
        </ng-container>     
    </div>
  </mat-card>
</div>