.main-container{
    margin: 5px;
    box-sizing: content-box;
    
}

.menu-container{
    display: grid;
    padding-left: 50px;
    font-weight: 600;
      
}
.table-card{
    margin-top: 5px;
}
.dash-title{
    padding-left: 20px;
    font-weight: 600;
}

.name .shift{
    text-align: center;
}

.filter-choice{
    text-align: end;
}

.table{
    // margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(8,auto);
    
    
}
.header{
    padding: 5px;
    text-align: center;
    
    background-color:#dedede ;
    font-weight: 600;
    line-break:1px ;
}
.header {
    text-align: center;
    border-right: 1px solid rgb(165, 165, 165);
      &.first{
        padding-left: 16px;
        
      }
      &.last{
        padding-right: 16px;
        text-align: center;
      }
}

.data-cell{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
       font-family: 'Times New Roman', Times, serif;
    &.first{
        padding-left: 16px;
      }
      &.last{
        // padding-right: 16px;
        text-align: center;
      }
}

.button {
    display: grid;
    padding-left: 20px;
    grid-template-columns:1fr 1fr ;
    gap: 10px 10px;
    justify-self: center ;
    width: fit-content;
    // text-align: center;

}

// .data-cell:nth-child(odd){
//     background-color: rgb(164, 164, 164);
// }

