.container{
    padding: 25px;
}
.table-user mat-header-cell{
    font-size: 16px;
    color:black;
} 
.top-menu{
    letter-spacing: normal;
    font-size: 21px;
    font-weight: 800;
}
.delete-button{
    margin-left: 20%;
}
// mat-row:nth-child(even){
//     background-color: rgb(220, 220, 220);
// }

// mat-row{
     
//     &:hover {
//       transform: translateY(-10%);
//       background-color: rgb(81, 178, 253);
      
//       &::before {
//         left: 150%;
//       }
//     }
//   }