<div class="container">
    <div></div>
    <div>
        <div class="top-menu">
            <h1> User </h1>
        </div>
        <div class="search-div">
    
            <button mat-raised-button class="create-button"  (click)="onCreate()">
                <mat-icon>add</mat-icon>Add
            </button>
            <mat-form-field class="search-form-field" floatLable="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    
        <div class=" table-user mat-elevation-z8" role="table">
    
            <!-- <mat-table [dataSource]="userDataSource$ | async" matSort> -->
            <mat-table [dataSource]="userData" matSort>
    
                <!-- <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
                    </mat-cell>
                </ng-container> -->
    
                <ng-container matColumnDef="sno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
                    <mat-cell *matCellDef="let user ;  let i = index"> {{i+1}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Role </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.role?.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phoneNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ContactNo</mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.phoneNo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="emailId">
                    <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.emailId}} </mat-cell>
                </ng-container>
       
                <ng-container matColumnDef="userName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <button class="edit-button" mat-icon-button  title="Edit" (click)="onEdit(user)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-button"  title="Delete"
                            (click)="onDelete(user._id)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
            </mat-table>
            <div class="footer">
                <div class="paginator">
                    <mat-paginator [pageSizeOptions]="[1,3,5,10,15,25,100]" pageSize="10" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
    
        </div>
    </div>
    <div></div>
    

</div>