.role-maintable{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}
table {
    width: 70%;
    color: #000;
}
.top-menu {
    background-color: transparent;   
    
}
.create-button{
    float:right;
    margin-bottom: 30px;
}
.role-table table{
    margin-left: 20%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.role-table th{
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
    text-align: center;
    background-color: rgb(255, 222, 90);
}
.role-table td{
    text-align: center;
    padding-left: 0px;
}




// 
