.container{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

th{
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
    text-align: center;
}
td{
    text-align:left;
    padding-left: 0px;
    text-align: center;
}
.role-section {
    margin-top: 5%;
    margin-right: 20%;
    float: right;
}
.role-table {
    margin-top: 10%;
    margin-left: 100px;
    align-content: center;
    justify-content: center;
    table{
        width: 80%;

    }
}
.mat-header-cell {
    background-color: rgb(255, 222, 90);

}