<!-- <mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" >
        <mat-accordion class="example-headers-align" multi> -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        Master
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list >
                    <a mat-list-item routerLinkActive="active" routerLink="master/role" role="listitem">Role</a>
                    <a mat-list-item routerLinkActive="active" routerLink="master/user" role="listitem">User</a>
                    <a mat-list-item routerLinkActive="active" routerLink="master/customer" role="listitem">Customer</a>
                    <a mat-list-item routerLinkActive="active" routerLink="master/machine" role="listitem">Machine</a>
                    <a mat-list-item routerLinkActive="active" routerLink="master/shift" role="listitem">Shift</a>
                    <a mat-list-item routerLinkActive="active" routerLink="master/instrument"
                        role="listitem">Instrument</a>
                </mat-nav-list>
            </mat-expansion-panel>
            
<!--            
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->