<div class="container">
  <div class="form">
    <div class="title">
      <h1> Shift </h1>
    </div>
    <form [formGroup]="shiftForm">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Shift Name</mat-label>
        <input matInput placeholder="Shift Name" formControlName="shiftName" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Start Time</mat-label>
        <input matInput [ngxMatTimepicker]="picker1" formControlName="startTime" autocomplete="off" >
        <ngx-mat-timepicker #picker1 color="accent"></ngx-mat-timepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>End Time</mat-label>
        <input matInput [ngxMatTimepicker]="picker2" formControlName="endTime" autocomplete="off" >
        <ngx-mat-timepicker #picker2 color="accent"></ngx-mat-timepicker>
      </mat-form-field>
      <div class="button">
        <button mat-raised-button class="btn-save" color="accent" (click)="onSave()">Save</button>
        <button mat-raised-button class="btn-cancel" mat-dialog-close="false" color="accent">Cancel</button>
      </div>
    </form>
  </div>
</div>