.role-component{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
.container{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.table-role mat-header-cell{
    font-size: 16px;
    color:black;
} 
.table-role{
margin-top: 50px;
}
.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
//  mat-cell{
//     justify-content: center;
// }
// mat-header-cell{
//     justify-content: center;
// }
ng-container{
    display: grid;
    
}

mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);
}