.container{
    display: grid;
    grid-template-columns:  10% 1fr 10%
}
.top-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    justify-items: stretch;
}
.table-role mat-header-cell{
    font-size: 16px;
    color:black;
} 
.delete-button{
   margin-left: 20%;
}
// mat-row:nth-child(even){
//     background-color: rgb(220, 220, 220);
// }