.role-component{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
.container{
    display: grid;
    grid-template-columns:  10% 1fr 10%
}
.top-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    justify-items: stretch;
}
.table-role mat-header-cell{
    font-size: 16px;
    color:black;
} 
.delete-button{
   margin-left: 20%;
}
<<<<<<< HEAD
.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
//  mat-cell{
//     justify-content: center;
// }
// mat-header-cell{
//     justify-content: center;
// }
ng-container{
    display: grid;
    
}

mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);
}
=======
// mat-row:nth-child(even){
//     background-color: rgb(220, 220, 220);
// }
>>>>>>> c21c468cf16479afc3b1baf05cb350500cb84ea9
