<div class="container">

    <mat-toolbar class="top-menu">
        <span>Role List</span>
    </mat-toolbar>
    <div class="search-div">

        <button mat-raised-button  class="create-button"  (click)="onCreate()">
            <mat-icon>add</mat-icon>Add
        </button>

    </div>

    <!-- {{ roles$ | async | json }} -->

    <div class=" table-role mat-elevation-z8" role="table" >

        <mat-table [dataSource]="roleDataSource$ | async"  matSort>
            <ng-container matColumnDef="serialno">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Serial No</mat-header-cell>
                <mat-cell *matCellDef="let role ;  let i = index"> {{i+1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell  *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let role"> {{role.name}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let role">
                    <button class="edit-button" mat-icon-button  title="Edit" (click)="onEdit(role)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="delete-button"  title="Delete"
                        (click)="onDelete(role._id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

    </div>
</div>