*{
    font-weight: 500;
    font-size: medium;
}
.container{
    margin:5px;
    padding: 5px;
    box-sizing: border-box;
    display: table-caption;
}
.title{
    padding-bottom: 10px;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px 10px;
}

.add-form-buttons{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn-save{
    width: fit-content;
}
.btn-cancel{
    width: fit-content;
    margin-left: 120px;
}