<div class="main">
  <mat-card class=" login-page mat-elevation-z8">
      <div class="left-space">
      <div class="title">Machine Shop Software</div>
        <img class="img" src="../../assets/icon/login_image.svg" >
      </div>
      <div class="right-space">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="user-logo">
            <img src="../../assets/icon/profile_icons.png">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" ngModel required #name="ngModel">
            <div *ngIf="!name.valid && name.touched" class="help-block">Username is required</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" minlength="4" ngModel required #pass="ngModel">
            <div *ngIf="!pass.valid && pass.errors?.minlength" class="help-block">Minimum 4 letters is mandatory</div>
            <div *ngIf="!pass.valid && !pass.errors?.minlength && pass.touched" class="help-block">Password is
              required</div>
            </div>
          <div class="button">
            <button [disabled]="!f.valid" mat-raised-button color="primary" type="submit" class="btn">Login</button>
            <button mat-raised-button type="reset" color="warn" class="btn">Clear</button>
          </div>
  
          <div *ngIf="error" class="alert alert-danger">
            <strong>Authentication Failed !</strong>
          </div>
        </form>
      </div>    
</mat-card>
</div>