.container{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
   
}
.table-machinecategory mat-header-cell{
    font-size: 16px;
    color:black;
} 
.top-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    justify-items: stretch;
}
.delete-button{
    margin-left: 20%;
}
// .table-role{
// margin-top: 50px;
// }


// mat-row:nth-child(even){
//     background-color: rgb(220, 220, 220);
// }
