.container{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    margin-top: 10px;
}
.matTable{
    max-height: 60vh;
    overflow-y: scroll;
    background-color: #fff;
}
.table-instrument mat-header-cell{
    font-size: 16px;
   
} 
.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.delete-button{
   margin-left: 20%;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
}
.DeleteAll-button{
    margin-left: 15px;
    margin-top: 13px;
}
// mat-row:nth-child(even){
//     background-color: rgb(220, 220, 220);
// }
.status-button{
    border-radius: 24px;
}
