.container{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.top-menu{
 background-color: transparent;   
}
.table-shift mat-header-cell{
    font-size: 16px;
    background-color: rgb(255, 222, 90);
    color:black;
} 
.create-button{
    float:right;
}
.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
 mat-cell{
    justify-content: center;
}
mat-header-cell{
    justify-content: center;
}
ng-container{
    display: grid;
}
<<<<<<< HEAD
// mat-checkbox{
//     // display: none;
// }
=======
.footer{
    display: grid;
    grid-template-columns: auto auto;
}
.DeleteAll-button{
    margin-left: 15px;
    margin-top: 13px;
}
.upload-field{
    float: right;
}
>>>>>>> bee4263400a1f52797a014a1503530b17690f998
