form{
    display:grid;
    width: fit-content;
  
}
.form .from-title{
    align-items: center;
    font-weight: bold;
    font-size: large;
}
.form-close{
    float: right;
    border:transparent;

}
.controles-container {
    margin-top: 50px;
}
mat-form-field{
    margin-right: 20px;
}

.add-form-buttons .button-row{
    justify-content: center;
    display: flex;
    gap: 10%;
}
