<div class="form" >
    <div class="from-title">
        <span>Add Instrument</span>
        <button class="form-close" mat-stroked-button  tabindex="-1">
            <mat-icon mat-dialog-close="false">close</mat-icon>
        </button>
    </div>
    <form [formGroup]="instrumentService.form" class="normal-form">

        <div  class="controles-container">
            <mat-form-field appearance="outline" color="accent">
                <input fromControlName="sno"   matInput placeholder="Serial No" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <input fromControlName="name"  matInput placeholder="Instrument Name " autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <input fromControlName="referenceno"  matInput placeholder="Reference Number" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <input fromControlName="range"   matInput placeholder="Range" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Calibrated On</mat-label>
                <input matInput [ngxMatTimepicker]="picker" fromControlName="calibratedon"   matInput placeholder="Calibrated On" autocomplete="off">
                <ngx-mat-timepicker #picker color="accent"></ngx-mat-timepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Calibrated  Due</mat-label>
                <input matInput [ngxMatTimepicker]="picker1" fromControlName="calibratedue"   matInput placeholder="Calibrate Due" autocomplete="off">
                <ngx-mat-timepicker #picker1 color="accent"></ngx-mat-timepicker>
            </mat-form-field>


        </div>
    </form>
    <div class="add-form-buttons">
        <div class="button-row">
            <button mat-raised-button color="accent" type="submit">Submit</button>
            <button mat-raised-button color="warn"  (click)="onClear()" >Clear</button>
        </div>
    </div>
</div>