.container{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.title{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}
span{
    align-items: center;
}
table{
        width: 80vw; 
    }
th{
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
    // text-align: center;
    background-color: rgb(255, 222, 90);
}

td{
    // text-align:left;
    padding-left: 0px;
}

th.mat-header-cell {
    border-bottom-width: 3px;
    border-bottom-style: solid ;
    
}
td.mat-cell{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    // text-align: center;

}
.add-shift{
    width: 80vw;
    .add-btn{
        float: right;
        padding-bottom: 0px;
        background-color: rgb(255, 222, 90);
        background-color: linear();
        
    }
}

mat-paginator{
    display: flex;
    width: 80vw;
    flex-direction: row-reverse;
    color: #020202;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
}
