.subProduct{
  padding: 20px;
}
.nextButton ,.previewButton{
  float: right;
  // margin-top: 400px;
}
.previousButton {
  float: left;
  // margin-top: 400px;
}
.process-form{
  margin-top: 10px;
}
.file-input{
    display: none;
}
.file-field{
    padding: 20px;
}
.subCustomer{
  padding: 20px;
}
.customer-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 14px 0px;
}
.product-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 14px 0px;
  margin-top: 10px;
}
.add-process-button{
  margin-right: 10px;
  margin-top: 36px;
  width: 100px;
}
.process-header{
  display: flex;
  gap: 640px;
}
.subprocess-button{
  float: right;
  gap: 10px;
}
.btn-cancel{
  margin-right : 10px;
  // margin-top: 400px;
}
.btn-save{
  float: right;
}
.process-title{
  font-size: 18px;
}
.process-buttons{
  margin-top: 10px;
}
.sub-process{
  padding: 5px;
}
.btn-close{
  float: right;
  margin-top: -30px;
}

.preview-form{
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 5% 1fr;
}
.prview-head{
    margin-left: 40px;
}
.previewhead-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 14px 0px;
    // text-align-last: revert  ;
}