.content{
    height: 88vh;
}

mat-sidenav mat-drawer{
  width: 10%;

}
 mat-expansion-panel {
  background-color: #303f9f;
}
mat-toolbar-row{
  display: block;
  padding: 1rem;
}

.title{
  font-size: medium;
  font-weight: 500;
}

.btn{
  float: right;
}

*{
  font-weight: 400;
}

// .master{
//   background-color: cornflowerblue;
// }

// .library{
//   background-color: rgb(235, 87, 131);
// }
