.content{
    height: 88vh;
}
.master-link :hover{
  border-left: 20px solid #eb91c5;
  transition: border .2s ease-in;
  
}
mat-sidenav mat-drawer{
  width: 10%;

}
<<<<<<< HEAD
mat-sidenav {
  background-color:#fce4ec;
=======
 mat-expansion-panel {
  background-color: #303f9f;
  color: white;
>>>>>>> c21c468cf16479afc3b1baf05cb350500cb84ea9
}
mat-toolbar-row{
  display: block;
  padding: 1rem;
}

.title{
  font-size: medium;
  font-weight: 500;
}

.btn{
  float: right;
}

*{
  font-weight: 400;
}
.mat-expansion-panel-header-title{
  color: white;
}
.mat-list-base .mat-list-item{
  color: white;
}
.mat-expansion-indicator::after{
  color: hsl(0, 16%, 91%);
}
// .master{
//   background-color: cornflowerblue;
// }

// .library{
//   background-color: rgb(235, 87, 131);
// }
