
.container{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.top-menu{
 background-color: transparent;   
}
.table-customer mat-header-cell{
    font-size: 16px;
    background-color: rgb(255, 222, 90);
    color:black;
} 
.create-button{
    float:right;
}
.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
 mat-cell{
    justify-content: center;
}
mat-header-cell{
    justify-content: center;
}
ng-container{
    display: grid;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
}
.DeleteAll-button{
    margin-left: 15px;
    margin-top: 13px;
}
.upload-field{
    float: right;
}


mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);

}
mat-row:nth-child(odd){
    background-color: rgb(252, 190, 162);

}

mat-row{
     
    &:hover {
      transform: translateY(-10%);
      background-color: rgb(81, 178, 253);
      
      &::before {
        left: 150%;
      }
    }
  }

// mat-cell{
//     background-color: crimson;
//     --size: 2rem;
//     --transition-duration: 100ms;
//     // --transition-easing: ease-out;
    
//     width: var(--size);
//     height: var(--size);
    
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//     text-decoration: none;
//     color: var(--foreground-color);
//     font-size: 1rem;
//     border: 1px solid rgba(white, 0.6);
//     background-color: rgba(white, 0.1);
//     backdrop-filter: blur(2px);
//     border-radius: 0.5rem;
//     box-shadow: 
//       0px 
//       calc(var(--size) / 6) 
//       calc(var(--size) / 3) 
//       rgba(black, 0.1);
    
//     transition: transform 
//       var(--transition-duration) 
//       var(--transition-easing);
    
//     overflow: hidden;
    
//     &::before {
//       content: '';
//       background: rgba(white, 0.4);
//       width: 60%;
//       height: 50%;
//       top: 0%;
//       left: -125%;
      
//       transform: skew(45deg);
      
//       position: absolute;
      
//       transition: left 
//         var(--transition-duration)
//         var(--transition-easing);
//     }
    
//     &:hover {
//       transform: translateY(-10%);
      
//       &::before {
//         left: 150%;
//       }
//     }
//   }


