.container{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.top-menu{
 background-color: transparent;   
}
.table-machine mat-header-cell{
    font-size: 16px;
    color:black;
} 

.search-form-field{
    padding-left: 20px;
    width: 25%;
}
.edit-button{
    display: grid;
    justify-content: center;
    gap:10px 10px;
}
 mat-cell{
    justify-content: center;
}
mat-header-cell{
    justify-content: center;
}
ng-container{
    display: grid;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
}
.DeleteAll-button{
    margin-left: 15px;
    margin-top: 13px;
}
mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);
}

