<div class="container">
  <div class="form">
    <div class="title">Add User</div>
    <!-- {{userForm.value | json}} -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="normal-form" >

      <!-- <mat-form-field appearance="outline" >
        <mat-label>S No</mat-label>
        <input matInput placeholder="S.No *" formControlName="sno" autocomplete="off">
      </mat-form-field> -->

      <mat-form-field appearance="outline" >
        <mat-label> Name </mat-label>
        <input matInput placeholder=" Name *" formControlName="name" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label> Role </mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="role._id" *ngFor="let role of roleData " >{{role.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label> E-Mail </mat-label>
        <input matInput placeholder=" E-Mail * " formControlName="emailId" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label> Contact No </mat-label>
        <input matInput placeholder=" Contact No *" formControlName="phoneNo" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label> User Name </mat-label>
        <input matInput placeholder=" User Name *" formControlName="userName" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label> Password </mat-label>
        <input matInput placeholder=" Password *" formControlName="password" autocomplete="off">
      </mat-form-field>

      <div class="add-form-buttons">
        <button mat-raised-button class="btn-save" type="submit" color="primary">Save</button>
        <button mat-raised-button class="btn-cancel" mat-dialog-close >Cancel</button>
      </div>

    </form>

  </div>

</div>