<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <span class="title">MACHINE SHOP</span>
        <div class="btn">
            <span>user</span>
            <button class="account" mat-icon-button>
                <mat-icon>supervisor_account</mat-icon>
            </button>
            <button class="logout" mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-accordion class="example-headers-align" multi>
            <router-outlet></router-outlet>

        </mat-accordion>
    </mat-sidenav>
    <!-- <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content> -->
</mat-sidenav-container>
