.Mapping-View{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.top-menu{
    background-color: transparent;  
    margin-bottom: 50px; 
}
.buttons{
    float:right;
    margin-top: -50px;
    display: flex;
    gap: 5%;
    align-items:center ;
    
}
// .create-button{
//   
//    
// }
