.Mapping-View{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
.top-menu{
    background-color: transparent;  
    margin-bottom: 50px; 
}
.buttons{
    float:right;
    margin-top: -50px;
    display: flex;
    gap: 5%;
    align-items:center ;
    
}
// .table-role mat-header-cell{
//     font-size: 16px;
//     background-color: rgb(255, 222, 90);
//     color:black;
// } 


table {
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}
  tr.example-detail-row {
    height: 0;
  }
  table th{
    background-color:  rgb(255, 222, 90);
  }
  // tr.example-element-row:not(.example-expanded-row):hover {
  //   background: #777;
  // }
  
  // tr.example-element-row:not(.example-expanded-row):active {
  //   background: #efefef;
  // }
  
//   .example-element-row td {
//     border-bottom-width: 0;
//   }
  
//   .example-element-detail {
//     overflow: hidden;
//     display: flex;
//   }
  
//   .example-element-diagram {
//     min-width: 80px;
//     border: 2px solid black;
//     padding: 8px;
//     font-weight: lighter;
//     margin: 8px 0;
//     height: 104px;
//   }
  
//   .example-element-symbol {
//     font-weight: bold;
//     font-size: 40px;
//     line-height: normal;
//   }
  
//   .example-element-description {
//     padding: 16px;
//   }
  
//   .example-element-description-attribution {
//     opacity: 0.5;
//   }
  
  // .inner-table {
  //   width: 100%;
  // }
  
  // .inner-table mat-form-field {
  //   margin-top: 15px;
  //   width: 100%;
  // }
//   header{
//     background-color: yellow;
//   }