table {
    width: 70%;
    color: #000;
}
.role-maintable{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}
.table-role th{
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
    text-align: center;
    background-color: rgb(255, 222, 90);
}
.table-role td{
    text-align: center;
    padding-left: 0px;
}

.demo-button-container {
    width: 47%;
    padding-bottom: 16px;
    float: right;
}

.demo-button + .demo-button {
    margin-left: 8px;
}
// table {
//     width: 70%;
//     color: #000;
// }
// .role-maintable{
//     margin: 20px;
//     padding: 20px;
//     box-sizing: border-box;
//     justify-content: center;
// }
// .table-role th{
//     text-transform: uppercase; 
//     letter-spacing: 1px;
//     font-weight: 700;
//     color: black;
//     text-align: center;
//     background-color: rgb(255, 222, 90);
// }
// .table-role td{
//     text-align: center;
//     padding-left: 0px;
// }

// .add-user{
//     width: 70%;
//     .add-btn{
//         float: right;
//         padding-bottom: 20px;
//         background-color: linear();
//     }
// }


