<div class="container">
    <div class="table-form">
        <div class="title">Add Customer</div>
        <form [formGroup]="customerForm">
            <!-- <mat-form-field appearance="outline" color="accent">
                <mat-label>S.No</mat-label>
                <input matInput type="text" placeholder="Sno" formControlName="sno" autocomplete="off" >
            </mat-form-field> -->
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Customer Name</mat-label>
                <input matInput type="text" placeholder="Customer Name" formControlName="customername" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Description" formControlName="description" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Product No</mat-label>
                <input matInput type="text" placeholder="Product No" formControlName="productno" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Revision No</mat-label>
                <input matInput type="text" placeholder="Revision No" formControlName="revisionno" autocomplete="off">
            </mat-form-field>
            <div class="drawing">
                <mat-label class="drawing-title" >Drawing</mat-label>
                <input  formControlName="drawing" type="file" placeholder="image file ">
            </div>
            <div class="button">
                <button mat-raised-button class="btn-save" color="accent" (click)="onSave()">Save</button>
                <button mat-raised-button class="btn-cancel" mat-dialog-close="false" color="accent">Cancel</button>
            </div>
        </form>
    </div>
</div>