<p>add-customer works!</p>
<div class="container">
    <div class="cutomer-table">
        <div class="table-form">
            <form [formGroup]="userForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Name" formControlName="name" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <input matInput type="text" placeholder="Product" formControlName="product" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Part.No</mat-label>
                    <input matInput type="text" placeholder="Partno" formControlName="partno" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rev.No</mat-label>
                    <input matInput type="text" placeholder="Revno" formControlName="revno" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Drawing</mat-label>
                    <input matInput type="file" placeholder="select the file " formControlName="drawing" autocomplete="off">
                    <button mat-icon-button ><mat-icon>upload</mat-icon></button>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>`