<div class="form" >
    <div class="form-title">
        <span>Add Instrument</span>
        <button class="form-close" mat-stroked-button color="warn" >
            <mat-icon mat-dialog-close="false" >close</mat-icon>
        </button>
    </div>
    <form [formGroup]="form" ngRepeat=""  class="normal-form">
        <div  class="controles-container">
            <mat-form-field appearance="outline" >
                <input formControlName="name"  matInput placeholder="Instrument Name " autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <input formControlName="referenceno"  matInput placeholder="Reference Number" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <input formControlName="range"   matInput placeholder="Range" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline"  >
                <mat-label>Calibrated On</mat-label>
                <input formControlName="calibratedon"matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Calibrated  Due</mat-label>
                <input  formControlName="calibratedue"   matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field> 
        </div>
    </form>
    <div class="add-form-buttons">
        <div class="button-row">
            <button mat-raised-button type="reset" mat-dialog-close color="warn">Clear</button>
            <button mat-raised-button (click)="onSubmit()" [disabled]="form.invalid" class="btn-save" color="primary" type="submit">Submit</button>
        </div>
    </div>
</div>

