<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <span class="title">MACHINE SHOP</span>
        <div class="btn">
            <span>user</span>
            <button class="account" mat-icon-button>
                <mat-icon>supervisor_account</mat-icon>
            </button>
            <button class="logout" mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a  mat-list-item routerLinkActive="active" routerLink="master/role" role="listitem">Role</a>
            <a mat-list-item routerLinkActive="active" routerLink="master/customer" role="listitem">Customer</a>
            <a mat-list-item routerLinkActive="active" routerLink="master/machine" role="listitem">Machine</a>
            <a mat-list-item routerLinkActive="active" routerLink="master/shift" role="listitem">Shift</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>