<mat-stepper #stepper class="progress">
  <mat-step [stepControl]="addForm" errorMessage="Name is required.">
    <form [formGroup]="addForm" (ngSubmit)="onProductSave()">
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepLabel>Fill out your customer detail</ng-template>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Customer Name</mat-label>
        <mat-select formControlName="customerName">
          <mat-option *ngFor="let client of customerData " [value]="client._id">
            {{client.customername}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" formControlName="productName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Drawing Number</mat-label>
        <input matInput type="text" formControlName="drawingNo">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Revision Number</mat-label>
        <input matInput type="text" formControlName="revisionNo">
      </mat-form-field>
      <div class="button">
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button type="submit" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="processForm" errorMessage="Address is required.">
    <form [formGroup]="processForm" (ngSubmit)="onProcessSave()">
      <ng-template matStepLabel>Fill out your process detail</ng-template>
      <mat-form-field appearance="outline" class="sub-Form-2">
        <mat-label>Process Name</mat-label>
        <input matInput type="text" formControlName="processName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-2">
        <mat-label>Process Drawing</mat-label>
        <input matInput type="text" formControlName="processDrawing">
      </mat-form-field>
      <div class="button">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button type="submit" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="detailForm" errorMessage="Address is required.">
    <form [formGroup]="detailForm" (ngSubmit)="onProductDetail()">
      <ng-template matStepLabel>Fill out your product detail</ng-template>
      <mat-form-field appearance="outline" class="sub-Form-2">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" formControlName="productName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-3">
        <mat-label>Product Drawing</mat-label>
        <input matInput type="text" formControlName="productDrawing">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-3">
        <mat-label>Process Name</mat-label>
        <input matInput type="text" formControlName="processName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-3">
        <mat-label>No Of Process</mat-label>
        <input matInput type="text" formControlName="numberOfProcess">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-3">
        <mat-label>Process Drawing</mat-label>
        <input matInput type="text" formControlName="processDrawing">
      </mat-form-field>
      <div class="button">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button type="submit" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="machineForm" errorMessage="Address is required.">
    <form [formGroup]="machineForm" (ngSubmit)=" onMachineMapping()">
      <ng-template matStepLabel>Fill out your machine detail</ng-template>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Process Name</mat-label>
        <input matInput type="text" formControlName="processName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="sub-Form-1">
        <mat-label>Machine Name</mat-label>
        <mat-select formControlName="machineName">
          <mat-option *ngFor="let machine of machineData " [value]="machine._id">
            {{machine.machinename}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button type="submit" matStepperNext>Done</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>