<div class="form">
    <div class="from-title">
        <span>MachineGroup</span>
    </div>
        <!-- {{ machineGroupFrom.value | json }} -->
    <form [formGroup]="machineGroupFrom" ngRepeat="" (ngSubmit)="onSubmit()" class="normal-form">
        <div class="controles-container">
            <mat-form-field appearance="outline" >
                <mat-label> Name </mat-label>
                <input matInput placeholder=" Name *" formControlName="name" autocomplete="off">
            </mat-form-field>
            <div class="add-form-buttons">
                <div class="button-row">
                    <button mat-raised-button color="primary" [disabled]="machineGroupFrom.invalid" type="submit">Submit</button>
                    <button mat-raised-button  type="reset" mat-dialog-close >Close</button>
                </div>
            </div>
        </div>
    </form>
</div>