.container{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
mat-table{
   
    color:black;
}
.table-instrument mat-header-cell{
    font-size: 16px;
    background-color: yellow;

}
