<div class="container">
    <!-- <mat-toolbar class="top-menu">
    <span>Department List</span>
</mat-toolbar> -->
    <div class="search-div">
        <button mat-raised-button color="accent" (click)="onCreate()">
            <mat-icon>add</mat-icon>Create
        </button>
        <mat-form-field class="search-form-field" floatLable="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </div>
    <div class=" table-instrument mat-elevation-z8" role="table">
        <mat-table [dataSource]="grdlistData" matSort>
            <ng-container matColumnDef="serialno">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.serialno}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ordno">
                <mat-header-cell *matHeaderCellDef>Order</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.ordno}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" title="Edit" (click)="onEdit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" title="Delete" (click)="onDelete()">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="4">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="4">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': grdlistData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(grdlistData!=null && grdlistData.data.length==0)}">
            </mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[1,5,10,25,100]" pageSize="10" showFirstLastButtons></mat-paginator>
    </div>
</div>