/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}





// notification
snack-bar-container.success{
    background-color: #29da29;
    color:white
}
snack-bar-container.warn{
    background-color: tomato;
    color: #fff;
}
snack-bar-container.notification simple-snack-bar{
    font-size: 18px;
    font-weight: medium;
}

/* mat-confirm-dialog */
.confirm-dialog-container .mat-dialog-conatiner{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color:#5cb85c;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order:2;
    font-weight:bolder;
}
.confirm-dialog-container #yes-button{
    // background-color: rgb(255, 222, 90);
    color:black;
    border-radius: 5px;
}

.confirm-dialog-container #no-button{
    // background-color:rgb(228, 59, 59);
    color:black;
    border-radius: 5px;
}
