html, body { height: 100%; }
body { margin: 0; 
    // font-family: 'Varela Round', sans-serif;
    // font-family:  'poppins', sans-serif; 
    font-family: 'Poppins', sans-serif;
}
.top-menu{
    background-color: transparent;   
}
.create-button{
    float:right;
    margin-top: -50px;
}
// notification
snack-bar-container.success{
    background-color: #29da29;
    color:white
  }
  snack-bar-container.warn{
    background-color: tomato;
    color: #fff;
  }
snack-bar-container.notification simple-snack-bar{
    font-size: 18px;
    font-weight: medium;
}
/* mat-confirm-dialog */
.confirm-dialog-container .mat-dialog-conatiner{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color:black;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order:2;
    font-weight:bolder;
}
.confirm-dialog-container #close-icon:hover{
    cursor: pointer;
}
.confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    color:rgb(255, 255, 255);
    border-radius: 0px;
    color:black;
    border-radius: 5px;
}
.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    color: white;
    border-radius: 0px;
    color:black;
    border-radius: 5px;
}
.confirm-dialog-container span.content-span{
    padding:35px 16px;
    text-align: center;
    font-size: 20px
}
