.container{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}

.table-inspector mat-header-cell{
    font-size: 16px;
    color:black;
} 
.table-inspector{
    margin: 50px;
    table-layout:fixed;
    overflow-y: scroll;
    height: 50%;
}
.search-form-field{
    padding-left: 20px;
    width: 25%;
}

 mat-cell{
    justify-content: center;
}
mat-header-cell{
    justify-content: center;
}
ng-container{
    display: grid;
}

mat-row:nth-child(even){
    background-color: rgb(220, 220, 220);
}