<div class="container">
  <div class="add-shift">
    <button mat-icon-button class="add-btn" (click)="onClickAdd()">
      <mat-icon>add_circle_outline </mat-icon>
    </button>
  </div>
  <div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
      </ng-container>
      <ng-container matColumnDef="shiftName">
        <th mat-header-cell *matHeaderCellDef>Shift Name </th>
        <td mat-cell *matCellDef="let element"> {{element.shiftName}} </td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit()">
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete()">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>