
<!-- <div class="container">
  <div class="table-container">
    <div class="title">
      Shift Schedule
    </div>
    <button mat-icon-button class="add-btn " (click)="onClickAdd()">
      <mat-icon>add_circle_outline </mat-icon>
    </button>
    <div class="table">
      <div class="table-header">
        <div>S.No</div>
        <div>Shift Name</div>
        <div>Start Time</div>
        <div>End Time</div>
        <div>Actions</div>
      </div>
      <div class="table-data" *ngFor='let shift of dataShift'>
        <div>{{shift.shiftName}}</div>
        <div>{{shift.startTime}}</div>
        <div>{{shift.endTime}}</div>
        <div>Actions</div>
        <button mat-icon-button (click)="onClickEdit()">
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="onClickDelete()">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div> -->