
<div class="container">
    <mat-toolbar class="top-menu">
      <span class="title">Customer View</span>
    </mat-toolbar>
    <mat-form-field class="search-form-field" floatLable="never">
      <input matInput (keyup)="applyFilter($event)" placeholder="">
    </mat-form-field>
  </div>
  
  <div class=" table-customer mat-elevation-z8" role="table">
    <mat-table [dataSource]="customerViewData" matSort>
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i =index "> {{i+1}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lotID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Lot ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lotID}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="partNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Part No</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.partNo}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Product Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <div class="footer">
      <div class="paginator">
        <mat-paginator [pageSizeOptions]="[1,3,5,10,15,25,100]" pageSize="10" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div> -->
  </div>